# git
.gitattributes

# mac
.DS_Store

# vs code
.VSCodeCounter/

# idea
.idea/

# bun
**/node_modules

# expo 
.expo/

# builds
/dist
*.aab

# env
.env.local
.env.development.local
.env.test.local
.env.production.local
eas.json
