*.png !text !filter !merge !diff
*.jpg !text !filter !merge !diff
*.jpeg !text !filter !merge !diff
*.webp !text !filter !merge !diff
*.svg !text !filter !merge !diff
*.ttf !text !filter !merge !diff
