<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>webcredentials:neuland.app</string>
		<string>webcredentials:dev.neuland.app</string>
		<string>webcredentials:web.neuland.app</string>
		<string>activitycontinuation:web.neuland.app</string>
		<string>activitycontinuation:dev.neuland.app</string>
		<string>applinks:web.neuland.app</string>
		<string>applinks:dev.neuland.app</string>
	</array>
	<key>com.apple.developer.pass-type-identifiers</key>
	<array>
		<string>$(TeamIdentifierPrefix)pass.member.neuland.app</string>
	</array>
</dict>
</plist>
