name: Release

on:
  push:
    tags:
      - "*"

jobs:
  changelog:
    name: Generate changelog
    runs-on: ubuntu-latest
    outputs:
      release_body: ${{ steps.git-cliff.outputs.content }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Generate a changelog
        uses: orhun/git-cliff-action@v4
        id: git-cliff
        with:
          config: cliff.toml
          args: --latest --strip all
        env:
          OUTPUT: CHANGES.md
          GITHUB_REPO: ${{ github.repository }}

      - name: Determine if prerelease
        id: prerelease_check
        run: |
          if [[ "${{ github.ref }}" =~ - ]]; then
              echo "PRERELEASE=true" >> $GITHUB_ENV
          else
              echo "PRERELEASE=false" >> $GITHUB_ENV
          fi

      - name: Upload the binary releases
        uses: svenstaro/upload-release-action@v2
        with:
          file: /
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref }}
          body: ${{ steps.git-cliff.outputs.content }}
          prerelease: ${{ env.PRERELEASE }}

  build-android:
    name: Build Android app
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node JS environment
        uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Setup Expo and EAS
        uses: expo/expo-github-action@v8
        with:
          eas-version: latest
          token: ${{ secrets.EXPO_TOKEN }}

      - name: Install Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install project dependencies
        run: bun install --frozen-lockfile --ignore-scripts -p

      - name: Update license list
        run: |
          bun i npm-license-crawler -g
          bun licenses

      - name: Set up JDK 17
        uses: actions/setup-java@v4.2.2
        with:
          distribution: "zulu"
          java-version: "17"

      - name: Build with EAS
        env:
          EXPO_TOKEN: ${{ secrets.EXPO_TOKEN }}
        run: eas build --platform android --profile production --non-interactive --local --output neuland-next.aab

      - name: Upload AAB artifact for next job
        uses: actions/upload-artifact@v4
        with:
          name: android-build-artifacts
          path: |
            neuland-next.aab
          retention-days: 1

  publish-android:
    name: Submit and Publish
    runs-on: ubuntu-latest
    needs: build-android
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.1.7

      - name: Setup Node JS environment
        uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Install Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install project dependencies
        run: bun install

      - name: Setup Expo and EAS
        uses: expo/expo-github-action@v8
        with:
          eas-version: latest
          token: ${{ secrets.EXPO_TOKEN }}

      - name: Download AAB from previous job
        uses: actions/download-artifact@v4
        with:
          name: android-build-artifacts

      - name: Submit beta to Google Play Store
        env:
          EXPO_TOKEN: ${{ secrets.EXPO_TOKEN }}
        run: eas submit --platform android --profile preview --non-interactive --path neuland-next.aab

      - name: Upload artifacts to Github
        uses: actions/upload-artifact@v4
        with:
          name: neuland-next-android
          path: neuland-next.aab
